
/* styles.css
#tag1 {
    color: red; /* Change the color of the <h1> tag with id="tag1" to red */
/* }*/

.divClass{
    color: yellow;
    background-color: teal;
} 
.div1 {
    background-color: teal;
    height: 100px;
}

.div2 {
    background-color: yellow;
    height: 50px;
}

.div3 {
    background-color: pink;
    height: 30px;
}